[submodule ".knowledge/torchtune"]
	path = .knowledge/torchtune
	url = https://github.com/theosis-ai/torchtune.git
[submodule ".knowledge/next-auth"]
	path = .knowledge/next-auth
	url = https://github.com/theosis-ai/next-auth
[submodule ".knowledge/fastapi"]
	path = .knowledge/fastapi
	url = https://github.com/theosis-ai/fastapi
[submodule ".knowledge/next.js"]
	path = .knowledge/next.js
	url = https://github.com/theosis-ai/next.js.git
[submodule ".wiki"]
	path = .wiki
	url = https://github.com/theosis-ai/tune-lab.wiki.git
[submodule ".knowledge/wiki"]
	path = .knowledge/wiki
	url = https://github.com/theosis-ai/tune-lab.wiki.git
