[submodule ".knowledge/torchtune"]
	path = .knowledge/torchtune
	url = https://github.com/theosis-ai/torchtune.git
	branch = main
[submodule ".knowledge/fastapi"]
	path = .knowledge/fastapi
	url = https://github.com/theosis-ai/fastapi
	branch = master
