@import "tailwindcss";

@config "../../tailwind.config.ts";

@layer base {
  :root {
  }

  .dark {
  }
}

/* .sidebar {
  --sidebar-width: 18rem;
  --sidebar-width-collapsed: 4rem;
  --sidebar-transition-duration: 200ms;
  width: var(--sidebar-width);
  transition: width var(--sidebar-transition-duration) ease-in-out;
} */

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.content {
  transition: margin-left var(--sidebar-transition-duration) ease-in-out;
}

[data-sidebar="sidebar"] {
  width: var(--sidebar-width);
  transition: width var(--sidebar-transition-duration) ease-in-out;
}

[data-state="collapsed"] [data-sidebar="sidebar"] {
  width: var(--sidebar-width-collapsed);
}

.lab-layout [data-sidebar="content"] {
  transition: margin-left var(--sidebar-transition-duration) ease-in-out;
}
